# Ignorar entorno virtual
venv/

# Ignorar base de datos local
db.sqlite3
*.sqlite3

# Ignorar archivos compilados de Python
__pycache__/
*.py[cod]

# Ignorar logs
*.log

# Ignorar archivos de sistema
.DS_Store